---
layout: layouts/base.ejs
---

<nav id="primary-nav" aria-label="Primary navigation">
  <a href="/">Back to overview</a>
</nav>

<article>
  <header>
    <h1><%= title %></h1>
    <i class="publish-date">Publised on <%= this.dateFns.format(page.date, 'yyyy-MM-dd') %></i>
  </header>

  <section><%- content %></section>
</article>
