---
layout: layouts/base.ejs
---

<article>
  <header>
    <h1><%= title %></h1>
    <i><%= this.dateFns.format(new Date(date), 'yyyy-MM-dd') %></i>
  </header>

  <section><%- content %></section>
</article>
